body {

	padding-top: 70px;
}

.jumbotron {
	color: #0b3170;
}

.navbar-inverse {
	background: #05214f;

}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.thumbnail img {

	  width: 100%;
	  height: 250px;

}

.fa {
    color: red;
}
